/*******************************************************************************
Custom CSS by Klazz
*******************************************************************************/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html *
{
    font-family: 'Nanum Gothic', serif;
}

img {
    max-width: 640px;
    padding: 7px 10px;
    margin: 0 auto;
}

p img {
    max-width: 640px;
    padding: 7px 10px;
    margin: 0 auto;
}

#main_content li{
    font-weight: 700;
}

#main_content li.plain{
    font-weight: 100;
}

#main_content p{
    text-indent: 0.5em;
    padding: 0px 10px;
}

#main_content .logo{
    content:url("../images/piniengineLogo.png") no-repeat top center;
    max-width: 640px;
    padding: 20px 10px;
    margin: 0 auto;
}

.textEditor{
    content:url("../images/textEditor.png") no-repeat top center;
}

.displayError{
    content:url("../images/error.PNG") no-repeat top center;
}

.channeling-title{ font-size: 18px; font-weight: 700; color: white; }

p.autoComplete-video{ border-style: dotted; border-width: 1px; }

#trello_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #ffffff;
  background: url('../images/trello-logo.png') #1291DB no-repeat 95% 50%;
  color: black
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}